<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122066946017-jmmmarhbko97u0mi7s941cdug5j4gaf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122066946017-jmmmarhbko97u0mi7s941cdug5j4gaf9</string>
	<key>API_KEY</key>
	<string>AIzaSyC_GL6RcrD-jPr1loa06FQNNQpPcoDNExk</string>
	<key>GCM_SENDER_ID</key>
	<string>122066946017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.potters.birdcatalogue</string>
	<key>PROJECT_ID</key>
	<string>willbits-birdcatalogue</string>
	<key>STORAGE_BUCKET</key>
	<string>willbits-birdcatalogue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122066946017:ios:6803c78452c13a3dd334a0</string>
	<key>DATABASE_URL</key>
	<string>https://willbits-birdcatalogue.firebaseio.com</string>
</dict>
</plist>